<template>
  <div>
    <div class="page-title">
      <h3>Категории</h3>
    </div>
    <section>
      <loader-snippet v-if="loading"></loader-snippet>
      <div v-else class="row">
        <div class="col s12 m6">
          <category-create @created="addNewCategory"></category-create>
        </div>
        <div class="col s12 m6">
          <category-edit
            v-if="categories.length"
            :categories="categories"
            :key="updateCount"
            @updated="updateCategories"
          ></category-edit>
          <p v-else class="center">Категорий пока нет</p>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import CategoryCreate from '@/components/CategoryCreate';
import CategoryEdit from '@/components/CategoryEdit';
import LoaderSnippet from '@/components/LoaderSnippet';
import { mapMutations } from 'vuex';

export default {
  name: 'categories-view',

  components: {
    CategoryCreate,
    CategoryEdit,
    LoaderSnippet,
  },

  data: () => ({
    categories: [],
    loading: true,
    updateCount: 0,
  }),
  async mounted() {
    this.categories = await this.$store.dispatch('fetchCaregories');
    this.loading = false;
  },

  beforeUnmount() {
    this.setSelectedCategoryId(null);
  },

  methods: {
    ...mapMutations(['setSelectedCategoryId']),
    addNewCategory(category) {
      this.categories.push(category);
      this.updateCount++;
    },
    updateCategories(category) {
      const updatedItem = this.categories.find(
        (item) => item.id === category.id
      );
      updatedItem.name = category.name;
      updatedItem.limit = category.limit;
      this.updateCount++;
    },
  },
};
</script>
