<template>
  <loader-snippet v-if="loading"></loader-snippet>
  <p v-else-if="!record">
    Записи с id {{ this.$route.params.id }} не найдена в базе
  </p>
  <div v-else>
    <div>
      <div class="breadcrumb-wrap">
        <router-link to="/history" class="breadcrumb">История</router-link>
        <a class="breadcrumb"> {{ type }} </a>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <div class="card" :class="[className]">
            <div class="card-content white-text">
              <p>Описание: {{ record.description }}</p>
              <p>Сумма: {{ normalizeCurrency(record.amount) }}</p>
              <p>Категория: {{ record.categoryName }}</p>

              <small>{{ normalizeDate(record.date) }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LoaderSnippet from '@/components/LoaderSnippet';
import currencyFilter from '@/filters/currency.filter';
import dateFilter from '@/filters/date.filter';

export default {
  components: {
    LoaderSnippet,
  },

  data: () => ({
    record: null,
    loading: true,
    type: null,
  }),

  async mounted() {
    try {
      const id = this.$route.params.id;
      const record = await this.$store.dispatch('fetchRecordById', id);
      const category = await this.$store.dispatch(
        'fetchCaregoryById',
        record.categoryId
      );
      this.type = record.type === 'outcome' ? 'Расход' : 'Доход';
      this.className = record.type === 'outcome' ? 'red' : 'green';
      this.record = {
        ...record,
        categoryName: category.name,
      };
      this.loading = false;
    } catch (error) {
      console.log(error);
    }
  },
  methods: {
    normalizeCurrency(value) {
      return currencyFilter(value, 'UAH');
    },
    normalizeDate(value) {
      return dateFilter(new Date(value));
    },
  },
};
</script>
