<template>
  <div>
    <div class="page-title">
      <h3>История записей</h3>
    </div>

    <div class="history-chart">
      <canvas ref="canvas"></canvas>
    </div>
    <loader-snippet v-if="loading"></loader-snippet>
    <p class="center" v-else-if="!onPageRecords.length">
      <router-link to="/record"> Добавить запись </router-link>
    </p>

    <section v-else>
      <history-table :records="onPageRecords"></history-table>
      <vue3-pagination
        v-model="page"
        :pages="numberAllPages"
        :range-size="1"
        active-color="#ee6e73"
        @update:modelValue="onClickPagination"
      ></vue3-pagination>
    </section>
  </div>
</template>

<script>
import HistoryTable from '@/components/HistoryTable';
import LoaderSnippet from '@/components/LoaderSnippet';
import PaginationMixin from '@/mixins/pagination.mixin';
import { Pie } from 'vue-chartjs';
// import { Bar } from 'vue-chartjs';
export default {
  components: {
    HistoryTable,
    LoaderSnippet,
  },
  extends: Pie,
  mixins: [PaginationMixin],
  name: 'history-view',
  data: () => ({
    loading: true,
    records: [],
    categories: [],
    page: 1,
  }),
  mounted() {
    this.initDataForComponent();
    this.loading = false;
  },
  methods: {
    createLabelsChart(categiries) {
      return categiries.map((category) => category.name);
    },

    createDataChart(categiries, records) {
      return categiries.map((category) => {
        return records.reduce((accumulator, record) => {
          if (record.categoryId === category.id && record.type === 'outcome') {
            accumulator += record.amount;
          }
          return accumulator;
        }, 0);
      });
    },
    async initDataForComponent() {
      const records = await this.$store.dispatch('fetchRecords');
      this.categories = await this.$store.dispatch('fetchCaregories');
      const modrecords = records.map((record) => {
        return {
          ...record,
          categoryName: this.findCategoryName(
            record.categoryId,
            this.categories
          ),
          ...this.additionalRecordField(record.type),
        };
      });
      this.setupPagination(modrecords);

      this.renderChart({
        labels: this.createLabelsChart(this.categories),
        datasets: [
          {
            label: 'Расходы по категориям',
            data: this.createDataChart(this.categories, records),
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)',
            ],
            borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)',
            ],
            borderWidth: 1,
          },
        ],
      });
    },
    findCategoryName(id, categories = this.categories) {
      const category = categories.find((category) => category.id === id);
      return category ? category.name : '';
    },
    additionalRecordField(type) {
      return {
        className: type === 'income' ? 'green' : 'red',
        typeName: type === 'income' ? 'Доход' : 'Расход',
      };
    },
  },
};
</script>
