<template>
  <div>
    <div class="page-title">
      <h3>Счет</h3>

      <button class="btn waves-effect waves-light btn-small" @click="refresh">
        <i class="material-icons">refresh</i>
      </button>
    </div>
    <loader-snippet v-if="loading"></loader-snippet>
    <div v-else class="row">
      <div class="col s12 m6 l4">
        <home-bill :rates="currency.rates"></home-bill>
      </div>

      <div class="col s12 m6 l8">
        <home-currency
          :rates="currency.rates"
          :date="currency.date"
        ></home-currency>
      </div>
    </div>
  </div>
</template>

<script>
import HomeBill from '@/components/HomeBill.vue';
import HomeCurrency from '@/components/HomeCurrency.vue';

export default {
  components: {
    HomeBill,
    HomeCurrency,
  },
  name: 'home-view',
  data: () => ({
    loading: true,
    currency: null,
  }),
  async mounted() {
    try {
      this.currency = await this.$store.dispatch('fetchFixerCurrecy');
    } catch (error) {
      console.error(error);
      this.$showMessage('FIXER error');
    }
    this.loading = false;
  },
  methods: {
    async refresh() {
      try {
        this.loading = true;
        this.currency = await this.$store.dispatch('fetchFixerCurrecy');
      } catch (error) {
        console.error(error);
        this.$showMessage('FIXER error');
      }
      this.loading = false;
    },
  },
};
</script>
