<template>
  <form class="card auth-card" @submit.prevent="onSubmitLoginForm">
    <div class="card-content">
      <span class="card-title">Домашняя бухгалтерия</span>
      <div class="input-field">
        <input
          id="email"
          type="text"
          v-model.trim="form.email"
          @input="v$.form.email.$touch"
          :class="{ invalid: v$.form.email.$dirty && v$.form.email.$invalid }"
        />
        <label for="email">Email</label>
        <small
          v-if="v$.form.email.$dirty && v$.form.email.email.$invalid"
          class="helper-text invalid"
        >
          {{ v$.form.email.email.$message }}
        </small>
        <small
          v-if="v$.form.email.$dirty && v$.form.email.required.$invalid"
          class="helper-text invalid"
        >
          {{ v$.form.email.required.$message }}
        </small>
      </div>
      <div class="input-field">
        <input
          id="password"
          type="password"
          v-model.trim="form.password"
          @input="v$.form.password.$touch"
          :class="{
            invalid: v$.form.password.$dirty && v$.form.password.$invalid,
          }"
        />
        <label for="password">Пароль</label>
        <small
          v-if="v$.form.password.$dirty && v$.form.password.minLength.$invalid"
          class="helper-text invalid"
        >
          Password less that {{ v$.form.password.minLength.$params.min }}
        </small>
        <small
          v-if="v$.form.password.$dirty && v$.form.password.required.$invalid"
          class="helper-text invalid"
        >
          {{ v$.form.email.required.$message }}
        </small>
      </div>
    </div>
    <div class="card-action">
      <div>
        <button class="btn waves-effect waves-light auth-submit" type="submit">
          Войти
          <i class="material-icons right">send</i>
        </button>
      </div>

      <p class="center">
        Нет аккаунта?
        <router-link to="/register">Зарегистрироваться</router-link>
      </p>
    </div>
  </form>
</template>
<script>
import { email, required, minLength } from '@vuelidate/validators';
import { useVuelidate } from '@vuelidate/core';
import messages from '@/utils/messages';

export default {
  mounted() {
    if (this.$route.query.message) {
      const keyMsg = this.$route.query.message;
      this.$showMessage(messages[keyMsg]);
    }
  },
  data: () => ({
    form: {
      password: '',
      email: '',
    },
  }),
  methods: {
    async onSubmitLoginForm() {
      if (this.v$.$invalid) {
        this.v$.$touch();
        return;
      }
      const formData = {
        email: this.form.email,
        password: this.form.password,
      };
      try {
        await this.$store.dispatch('login', formData);
        this.$router.push('/');
      } catch (error) {
        console.log(error);
      }
    },
  },
  setup: () => ({ v$: useVuelidate() }),
  validations() {
    return {
      form: {
        password: { required, minLength: minLength(6) },
        email: { required, email },
      },
    };
  },
};
</script>
