<template>
  <div>
    <div class="page-title">
      <h3>Планирование</h3>
      <h4>{{ bill }}</h4>
    </div>
    <loader-snippet v-if="loading"></loader-snippet>
    <p class="center" v-else-if="!loading && !categories.length">
      <router-link to="/categories">Добавить категорию</router-link>
    </p>
    <section v-else>
      <div v-for="category in categories" :key="category.id">
        <p>
          <strong>{{ category.name }}:</strong>
          выделено {{ normalizeCurrency(category.limit) }} потрачено
          {{ normalizeCurrency(category.spend) }}
        </p>
        <div class="progress" v-tooltip="{ html: category.tooltipText }">
          <div
            class="determinate"
            :class="[category.processColor]"
            :style="{ width: category.processValue + '%' }"
          ></div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import LoaderSnippet from '@/components/LoaderSnippet';
import currencyFilter from '@/filters/currency.filter';
import { mapGetters } from 'vuex';

export default {
  components: {
    LoaderSnippet,
  },
  name: 'planning-view',
  data: () => ({
    loading: true,
    categories: [],
  }),
  async mounted() {
    const records = await this.$store.dispatch('fetchRecords');
    const categories = await this.$store.dispatch('fetchCaregories');
    this.categories = categories.map((category) => {
      const spend = records.reduce((accumulator, record) => {
        if (category.id === record.categoryId && record.type === 'outcome') {
          accumulator += +record.amount;
        }
        return accumulator;
      }, 0);
      const percent = (100 * spend) / category.limit;
      const processValue = percent > 100 ? 100 : percent;
      const processColor = this.getProgressColor(percent);
      const currentMoneyState = category.limit - spend;
      const tooltipText =
        currentMoneyState >= 0
          ? `Остаток на счете ${currencyFilter(currentMoneyState)}`
          : `Лимит превышен ${currencyFilter(Math.abs(currentMoneyState))}`;

      return {
        ...category,
        processColor,
        processValue,
        percent,
        spend,
        tooltipText,
      };
    });
    this.loading = false;
  },
  methods: {
    getProgressColor(percent) {
      if (percent >= 80) {
        return 'red';
      }
      if (percent >= 60) {
        return 'yellow';
      }
      return 'green';
    },
    normalizeCurrency(value) {
      return currencyFilter(value, 'UAH');
    },
  },
  computed: {
    ...mapGetters(['info']),
    bill() {
      return currencyFilter(this.info.bill, 'UAH');
    },
  },
};
</script>
