<template>
  <div>
    <div class="page-title">
      <h3>Профиль</h3>
    </div>

    <form class="form" @submit.prevent="onSubmitProfileForm">
      <div class="input-field">
        <input
          id="description"
          type="text"
          v-model="form.name"
          @input="v$.form.name.$touch"
          :class="{
            invalid: v$.form.name.$dirty && v$.form.name.$invalid,
          }"
        />
        <label for="description">Имя</label>
        <small
          v-if="v$.form.name.$dirty && v$.form.name.required.$invalid"
          class="helper-text invalid"
        >
          {{ v$.form.name.required.$message }}
        </small>
      </div>
      <div class="switch">
        <label>
          English
          <input type="checkbox" v-model="isRuLocale" />
          <span class="lever"></span>
          Русский
        </label>
      </div>

      <button class="btn waves-effect waves-light" type="submit">
        Обновить
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import { required } from '@vuelidate/validators';
import { useVuelidate } from '@vuelidate/core';

export default {
  data: () => ({
    form: {
      name: '',
    },
    isRuLocale: true,
  }),
  mounted() {
    this.form.name = this.info.name;
    this.isRuLocale = this.info.locale === 'ru-RU' ? true : false;
    setTimeout(() => {
      // eslint-disable-next-line no-undef
      M.updateTextFields();
    }, 0);
  },
  methods: {
    ...mapActions(['updateInfo']),
    async onSubmitProfileForm() {
      if (this.v$.$invalid) {
        this.v$.$touch();
        return;
      }
      await this.updateInfo({
        name: this.form.name,
        locale: this.isRuLocale ? 'ru-RU' : 'en-US',
      });
    },
  },
  computed: {
    ...mapGetters(['info']),
  },
  setup: () => ({ v$: useVuelidate() }),
  validations() {
    return {
      form: {
        name: { required },
      },
    };
  },
};
</script>

<style scoped>
.switch {
  margin-bottom: 2rem;
}
</style>
