<template>
  <div>
    <div class="page-title">
      <h3>Новая запись</h3>
    </div>

    <loader-snippet v-if="loading"></loader-snippet>
    <p class="center" v-else-if="!loading && !categories.length">
      <router-link to="/categories">Добавить категорию</router-link>
    </p>
    <form v-else class="form" @submit.prevent="onSubmitRecordForm">
      <div class="input-field">
        <select v-model="selectedCatogotyId" ref="selectCategory">
          <option
            v-for="category in categories"
            :value="category.id"
            :key="category.id"
          >
            {{ category.name }}
          </option>
        </select>
        <label>Выберите категорию</label>
      </div>

      <p>
        <label>
          <input
            class="with-gap"
            name="type"
            type="radio"
            value="income"
            v-model="form.type"
          />
          <span>Доход</span>
        </label>
      </p>

      <p>
        <label>
          <input
            class="with-gap"
            name="type"
            type="radio"
            value="outcome"
            v-model="form.type"
          />
          <span>Расход</span>
        </label>
      </p>

      <div class="input-field">
        <input
          id="amount"
          type="number"
          v-model.number="form.amount"
          @input="v$.form.amount.$touch"
          :class="{
            invalid: v$.form.amount.$dirty && v$.form.amount.$invalid,
          }"
        />
        <label for="amount">Сумма</label>
        <span
          v-if="v$.form.amount.$dirty && v$.form.amount.$invalid"
          class="helper-text invalid"
        >
          Минимальная величина {{ v$.form.amount.minValue.$params.min }}
        </span>
      </div>

      <div class="input-field">
        <input
          id="description"
          type="text"
          v-model.trim="form.description"
          @input="v$.form.description.$touch"
          :class="{
            invalid: v$.form.description.$dirty && v$.form.description.$invalid,
          }"
        />
        <label for="description">Описание</label>
        <span
          v-if="v$.form.description.$dirty && v$.form.description.$invalid"
          class="helper-text invalid"
        >
          Укажите описание
        </span>
      </div>

      <button class="btn waves-effect waves-light" type="submit">
        Создать
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</template>

<script>
import LoaderSnippet from '@/components/LoaderSnippet';
import { required, minValue } from '@vuelidate/validators';
import { useVuelidate } from '@vuelidate/core';
import { mapGetters } from 'vuex';

export default {
  components: {
    LoaderSnippet,
  },
  name: 'record-view',
  data: () => ({
    selectElement: null,
    loading: true,
    categories: [],
    selectedCatogotyId: null,
    form: {
      amount: 1,
      description: null,
      type: 'outcome',
    },
  }),
  async mounted() {
    this.categories = await this.$store.dispatch('fetchCaregories');
    if (this.categories.length) {
      this.selectedCatogotyId = this.categories[0].id;
    }
    this.loading = false;
    setTimeout(() => {
      // eslint-disable-next-line no-undef
      this.selectElement = M.FormSelect.init(this.$refs.selectCategory);
      // eslint-disable-next-line no-undef
      M.updateTextFields();
    }, 0);
  },
  beforeUnmount() {
    if (this.selectElement && 'destroy' in this.selectElement) {
      this.selectElement.destroy();
    }
  },
  methods: {
    async onSubmitRecordForm() {
      if (this.v$.$invalid) {
        this.v$.$touch();
        return;
      }
      if (this.canCreateRecord) {
        try {
          const record = {
            categoryId: this.selectedCatogotyId,
            date: new Date().toJSON(),
            ...this.form,
          };
          await this.$store.dispatch('createRecord', record);
          const bill =
            this.form.type === 'income'
              ? this.info.bill + this.form.amount
              : this.info.bill - this.form.amount;
          await this.$store.dispatch('updateInfo', { bill });
          this.$showMessage('Данные обновлены');
          this.v$.$reset();
          this.form = {
            amount: 1,
            description: null,
            type: 'outcome',
          };
        } catch (error) {
          console.log(error);
        }
      } else {
        this.$showMessage(
          `Не достаточно средств на счету (${
            this.form.amount - this.info.bill
          })`
        );
      }
    },
  },
  computed: {
    ...mapGetters(['info']),
    canCreateRecord() {
      if (this.form.type === 'income') {
        return true;
      }
      return this.info.bill >= this.form.amount;
    },
  },
  setup: () => ({ v$: useVuelidate() }),
  validations() {
    return {
      form: {
        amount: { required, minValue: minValue(1) },
        description: { required },
      },
    };
  },
};
</script>
