<template>
  <form class="card auth-card" @submit.prevent="onSubmitRegistrationForm">
    <div class="card-content">
      <span class="card-title">Домашняя бухгалтерия</span>
      <div class="input-field">
        <input
          id="email"
          type="text"
          v-model.trim="form.email"
          @input="v$.form.email.$touch"
          :class="{ invalid: v$.form.email.$dirty && v$.form.email.$invalid }"
        />
        <label for="email">Email</label>
        <small
          v-if="v$.form.email.$dirty && v$.form.email.email.$invalid"
          class="helper-text invalid"
        >
          {{ v$.form.email.email.$message }}
        </small>
        <small
          v-if="v$.form.email.$dirty && v$.form.email.required.$invalid"
          class="helper-text invalid"
        >
          {{ v$.form.email.required.$message }}
        </small>
      </div>
      <div class="input-field">
        <input
          id="password"
          type="password"
          v-model.trim="form.password"
          @input="v$.form.password.$touch"
          :class="{
            invalid: v$.form.password.$dirty && v$.form.password.$invalid,
          }"
        />
        <label for="password">Пароль</label>
        <small
          v-if="v$.form.password.$dirty && v$.form.password.minLength.$invalid"
          class="helper-text invalid"
        >
          Password less that {{ v$.form.password.minLength.$params.min }}
        </small>
        <small
          v-if="v$.form.password.$dirty && v$.form.password.required.$invalid"
          class="helper-text invalid"
        >
          {{ v$.form.password.required.$message }}
        </small>
      </div>
      <div class="input-field">
        <input
          id="name"
          type="text"
          v-model.trim="form.name"
          @input="v$.form.name.$touch"
          :class="{
            invalid: v$.form.name.$dirty && v$.form.name.$invalid,
          }"
        />
        <label for="name">Имя</label>
        <small
          v-if="v$.form.name.$dirty && v$.form.name.minLength.$invalid"
          class="helper-text invalid"
        >
          Name less that {{ v$.form.name.minLength.$params.min }}
        </small>
        <small
          v-if="v$.form.name.$dirty && v$.form.name.required.$invalid"
          class="helper-text invalid"
        >
          {{ v$.form.name.required.$message }}
        </small>
      </div>
      <p>
        <label>
          <input type="checkbox" v-model="form.agree" />
          <span>С правилами согласен</span>
        </label>
      </p>
    </div>
    <div class="card-action">
      <div>
        <button class="btn waves-effect waves-light auth-submit" type="submit">
          Зарегистрироваться
          <i class="material-icons right">send</i>
        </button>
      </div>

      <p class="center">
        Уже есть аккаунт?
        <router-link to="/login">Войти!</router-link>
      </p>
    </div>
  </form>
</template>

<script>
import { email, required, minLength } from '@vuelidate/validators';
import { useVuelidate } from '@vuelidate/core';

export default {
  data: () => ({
    form: {
      email: '',
      password: '',
      name: '',
      agree: false,
    },
  }),
  methods: {
    async onSubmitRegistrationForm() {
      if (this.v$.$invalid) {
        this.v$.$touch();
        return;
      }
      const registrationDate = {
        email: this.form.email,
        password: this.form.password,
        name: this.form.name,
      };
      try {
        await this.$store.dispatch('register', registrationDate);
        this.$router.push('/');
      } catch (error) {
        console.log(error)
      }
    },
  },
  setup: () => ({ v$: useVuelidate() }),
  validations() {
    return {
      form: {
        email: { required, email },
        password: { required, minLength: minLength(6) },
        name: { required, minLength: minLength(3) },
        agree: { checked: (v) => v },
      },
    };
  },
};
</script>
