<template>
  <div>
    <div class="page-subtitle">
      <h4>Создать</h4>
    </div>

    <form @submit.prevent="onSubmitCreateCategory">
      <div class="input-field">
        <input
          id="name"
          v-model="form.name"
          type="text"
          @input="v$.form.name.$touch"
          :class="{
            invalid: v$.form.name.$dirty && v$.form.name.$invalid,
          }"
        />
        <label for="name">Название</label>
        <span
          v-if="v$.form.name.$dirty && v$.form.name.$invalid"
          class="helper-text invalid"
        >
          Введите название
        </span>
      </div>

      <div class="input-field">
        <input
          id="limit"
          type="number"
          v-model.number="form.limit"
          @input="v$.form.limit.$touch"
          :class="{
            invalid: v$.form.limit.$dirty && v$.form.limit.$invalid,
          }"
        />
        <label for="limit">Лимит</label>
        <span
          v-if="v$.form.limit.$dirty && v$.form.limit.$invalid"
          class="helper-text invalid"
        >
          Минимальная величина {{ v$.form.limit.minValue.$params.min }}
        </span>
      </div>

      <button class="btn waves-effect waves-light" type="submit">
        Создать
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</template>

<script>
import { required, minValue } from '@vuelidate/validators';
import { useVuelidate } from '@vuelidate/core';
import messages from '@/utils/messages';

export default {
  name: 'category-create',
  mounted() {
    // eslint-disable-next-line no-undef
    M.updateTextFields();
  },
  data: () => ({
    form: {
      name: '',
      limit: 10,
    },
  }),
  methods: {
    async onSubmitCreateCategory() {
      if (this.v$.$invalid) {
        this.v$.$touch();
        return;
      }
      try {
        const category = await this.$store.dispatch('createCategory', {
          name: this.form.name,
          limit: this.form.limit,
        });
        this.form = { name: '', limit: 10 };
        this.v$.$reset();
        this.$showMessage(messages['category_created']);
        this.$emit('created', category);
      } catch (error) {
        console.log(error);
      }
    },
  },
  setup: () => ({ v$: useVuelidate() }),
  validations() {
    return {
      form: {
        name: { required },
        limit: { required, minValue: minValue(1) },
      },
    };
  },
};
</script>
