<template>
  <div>
    <div class="page-subtitle">
      <h4>Редактировать</h4>
    </div>

    <form @submit.prevent="onSubmitEditCategory">
      <div class="input-field">
        <select v-model="currentSelect" ref="selectCategory">
          <option
            v-for="category in categories"
            :value="category.id"
            :key="category.id"
          >
            {{ category.name }}
          </option>
        </select>
        <label>Выберите категорию</label>
      </div>

      <div class="input-field">
        <input
          id="name"
          v-model="form.name"
          type="text"
          @input="v$.form.name.$touch"
          :class="{
            invalid: v$.form.name.$dirty && v$.form.name.$invalid,
          }"
        />
        <label for="name">Название</label>
        <span
          v-if="v$.form.name.$dirty && v$.form.name.$invalid"
          class="helper-text invalid"
        >
          Введите название
        </span>
      </div>

      <div class="input-field">
        <input
          id="limit"
          type="number"
          v-model.number="form.limit"
          @input="v$.form.limit.$touch"
          :class="{
            invalid: v$.form.limit.$dirty && v$.form.limit.$invalid,
          }"
        />

        <label for="limit">Лимит</label>
        <span
          v-if="v$.form.limit.$dirty && v$.form.limit.$invalid"
          class="helper-text invalid"
        >
          Минимальная величина {{ v$.form.limit.minValue.$params.min }}
        </span>
      </div>

      <button class="btn waves-effect waves-light" type="submit">
        Обновить
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</template>

<script>
import { required, minValue } from '@vuelidate/validators';
import { useVuelidate } from '@vuelidate/core';
import messages from '@/utils/messages';
import { mapMutations } from 'vuex';

export default {
  name: 'category-edit',
  props: {
    categories: {
      type: Array,
      default: () => [],
      required: true,
    },
  },
  data: () => ({
    selectElement: null,
    currentSelect: null,
    form: {
      name: null,
      limit: null,
    },
  }),
  created() {
    if (this.$store.getters.selectedCategoryId) {
      this.currentSelect = this.$store.getters.selectedCategoryId;
    } else {
      ({
        id: this.currentSelect,
        name: this.form.name,
        limit: this.form.limit,
      } = this.categories[0]);
    }
  },
  mounted() {
    // eslint-disable-next-line no-undef
    M.updateTextFields();
    // eslint-disable-next-line no-undef
    this.selectElement = M.FormSelect.init(this.$refs.selectCategory);
  },
  beforeUnmount() {
    if (this.selectElement && 'destroy' in this.selectElement) {
      this.selectElement.destroy();
    }
  },
  methods: {
    ...mapMutations(['setSelectedCategoryId']),
    async onSubmitEditCategory() {
      if (this.v$.$invalid) {
        this.v$.$touch();
        return;
      }
      try {
        const updatedCategory = {
          id: this.currentSelect,
          ...this.form,
        };
        await this.$store.dispatch('updateCategory', updatedCategory);
        this.$showMessage(messages['category_updated']);
        this.$emit('updated', updatedCategory);
        this.setSelectedCategoryId(this.currentSelect);
      } catch (error) {
        console.log(error);
      }
    },
  },
  watch: {
    currentSelect(id) {
      ({ name: this.form.name, limit: this.form.limit } = this.categories.find(
        (item) => item.id === id
      ));
    },
  },
  setup: () => ({ v$: useVuelidate() }),
  validations() {
    return {
      form: {
        name: { required },
        limit: { required, minValue: minValue(1) },
      },
    };
  },
};
</script>
