<template>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Сумма</th>
        <th>Дата</th>
        <th>Категория</th>
        <th>Тип</th>
        <th>Открыть</th>
      </tr>
    </thead>

    <tbody>
      <tr v-for="(record, index) in records" :key="record.id">
        <td>{{ index + 1 }}</td>
        <td>{{ normalizeCurrency(record.amount) }}</td>
        <td>{{ normalizeDate(record.date, 'datetime') }}</td>
        <td>{{ record.categoryName }}</td>
        <td>
          <span class="white-text badge" :class="[record.className]">{{
            record.typeName
          }}</span>
        </td>
        <td>
          <button
            class="btn-small btn"
            @click="gotoDetailPage(record.id)"
            v-tooltip="{ html: 'открыть в новом окне', position: 'left' }"
          >
            <i class="material-icons">open_in_new</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import dateFilter from '@/filters/date.filter';
import currencyFilter from '@/filters/currency.filter';

export default {
  props: {
    records: {
      type: Array,
      required: true,
      default: () => [],
    },
  },
  name: 'history-table',
  methods: {
    normalizeCurrency(currency) {
      return currencyFilter(currency, 'UAH');
    },
    normalizeDate(date) {
      return dateFilter(new Date(date), 'datetime');
    },
    gotoDetailPage(id) {
      this.$router.push(`/detail/${id}`);
    },
  },
};
</script>
