<template>
  <div class="card orange darken-3 bill-card">
    <div class="card-content white-text">
      <div class="card-header">
        <span class="card-title">Курс валют</span>
      </div>
      <table>
        <thead>
          <tr>
            <th>Валюта</th>
            <th>Курс</th>
            <th>Дата</th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="currency in currencies" :key="currency">
            <td>{{ currency }}</td>
            <td>{{ rates[currency].toFixed(4) }}</td>
            <td>{{ normalizeDate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import dateFormat from '@/filters/date.filter';

export default {
  props: {
    rates: Object,
    date: String,
  },
  name: 'home-currency',
  computed: {
    normalizeDate() {
      return dateFormat(new Date(this.date), 'date');
    },
    currencies() {
      return this.$store.getters.currencies;
    },
  },
};
</script>
