<template>
  <div class="card light-blue bill-card">
    <div class="card-content white-text">
      <span class="card-title">Счет в валюте</span>

      <p v-for="currency in currencies" :key="currency" class="currency-line">
        <span>{{ currency }}: {{ getCurrency(currency) }}</span>
      </p>
    </div>
  </div>
</template>

<script>
import currencyFormat from '@/filters/currency.filter';
export default {
  props: {
    rates: {
      type: Object,
      requred: true,
      default: () => {
        return { UAH: 1, USD: 1, EUR: 1 };
      },
    },
  },
  name: 'home-bill',
  methods: {
    getCurrency(currency) {
      const money = Math.floor(this.base * this.rates[currency]);
      return currencyFormat(money, currency);
    },
  },
  computed: {
    base() {
      return this.$store.getters.info.bill / (this.rates.UAH / this.rates.EUR);
    },
    currencies() {
      return this.$store.getters.currencies;
    },
  },
};
</script>
