<template>
  <div class="app-loader">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer" :class="spinnerColor">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'loader-snippet',
  computed: {
    spinnerColor() {
      const colors = [
        'spinner-blue-only',
        'spinner-blue-only',
        'spinner-green-only',
      ];
      const randomIndex = Math.floor(Math.random * colors.length);
      return colors[randomIndex];
    },
  },
};
</script>
