<template>
  <nav class="navbar orange lighten-1">
    <div class="nav-wrapper">
      <div class="navbar-left">
        <a href="#" @click.prevent="$emit('onClickNavBar')">
          <i class="material-icons black-text">dehaze</i>
        </a>
        <span class="black-text">{{ normalizeDate }}</span>
      </div>

      <ul class="right hide-on-small-and-down">
        <li>
          <a
            class="dropdown-trigger black-text"
            href="#"
            data-target="dropdown"
            ref="dropdownRef"
          >
            {{ name }}
            <i class="material-icons right">arrow_drop_down</i>
          </a>

          <ul id="dropdown" class="dropdown-content">
            <li>
              <router-link :to="'/profile'" class="black-text">
                <i class="material-icons">account_circle</i>Профиль
              </router-link>
            </li>
            <li class="divider" tabindex="-1"></li>
            <li>
              <a href="#" class="black-text" @click.prevent="logout">
                <i class="material-icons">assignment_return</i>Выйти
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</template>
<script>
import dateFilter from '@/filters/date.filter';

export default {
  name: 'nav-bar',
  data: () => ({
    intervalVariable: null,
    dropdownVariable: null,
    dateVariable: new Date(),
    format: 'date',
  }),
  methods: {
    logout() {
      this.$store.dispatch('logout').then(() => {
        this.$router.push('/login?message=logout');
      });
    },
  },
  computed: {
    normalizeDate() {
      return dateFilter(this.dateVariable, 'datetime');
    },
    name() {
      return this.$store.getters.info.name;
    },
  },
  mounted() {
    // eslint-disable-next-line no-undef
    this.dropdownVariable = M.Dropdown.init(this.$refs.dropdownRef, {
      constrainWidth: true,
    });

    this.intervalVariable = setInterval(() => {
      this.dateVariable = new Date();
    }, 1000);
  },
  beforeUnmount() {
    clearInterval(this.intervalVariable);
    if (this.dropdownVariable && this.dropdownVariable.destroy) {
      this.dropdownVariable.destroy();
    }
  },
};
</script>
