<template>
  <ul class="sidenav app-sidenav" :class="{ open: openNavBar }">
    <template v-for="link in links" :key="link.url">
      <li>
        <router-link :to="link.url" :exact="link.exact" active-class="active">
          {{ link.title }}
        </router-link>
      </li>
    </template>
  </ul>
</template>

<script>
export default {
  props: {
    openNavBar: Boolean,
  },
  name: 'side-bar',
  data: () => ({
    links: [
      { title: 'Счет', url: '/', exact: true },
      { title: 'История', url: '/history', exact: false },
      { title: 'Планирование', url: '/planning', exact: false },
      { title: 'Новая запись', url: '/record', exact: false },
      { title: 'Категории', url: '/categories', exact: false },
    ],
  }),
};
</script>
<style scoped>
.sidenav li > a.active {
  background-color: rgba(0, 0, 0, 0.05);
}
</style>
