<template>
  <div class="grey darken-1 empty-layout">
    <router-view />
  </div>
</template>

<script>
import messages from '@/utils/messages';
export default {
  computed: {
    error() {
      return this.$store.getters.error;
    },
  },
  watch: {
    error(firebaseError) {
      const text = messages[firebaseError.code] || 'undefined_error';
      this.$showMessage(text, true);
    },
  },
};
</script>
