<template>
  <loader-snippet v-if="loading"></loader-snippet>
  <div v-else class="app-main-layout">
    <nav-bar @onClickNavBar="onToggleNavBar()"></nav-bar>
    <side-bar :openNavBar="isOpenNavBar"></side-bar>

    <main class="app-content" :class="{ full: !isOpenNavBar }">
      <div class="app-page">
        <router-view />
      </div>
    </main>

    <div class="fixed-action-btn">
      <router-link class="btn-floating btn-large blue" to="/record">
        <i
          class="large material-icons"
          v-tooltip="{ html: 'Добавить запись', position: 'top' }"
          >add</i
        >
      </router-link>
    </div>
  </div>
</template>

<script>
import NavBar from '@/components/NavBar';
import SideBar from '@/components/SideBar';
import LoaderSnippet from '@/components/LoaderSnippet';
import messages from '@/utils/messages';

export default {
  name: 'main-layout',
  components: {
    NavBar,
    SideBar,
    LoaderSnippet,
  },
  data: () => ({
    isOpenNavBar: true,
    loading: true,
    tooltipText: 'Добавить запись',
  }),
  async mounted() {
    const isInfoExist = Object.keys(this.$store.getters.info).length;
    if (!isInfoExist) {
      await this.$store.dispatch('fetchInfoUser');
    }
    this.loading = false;
  },
  methods: {
    onToggleNavBar() {
      this.isOpenNavBar = !this.isOpenNavBar;
    },
  },
  computed: {
    error() {
      return this.$store.getters.error;
    },
  },
  watch: {
    error(firebaseError) {
      const text = messages[firebaseError.code] || 'undefined_error';
      this.$showMessage(text, true);
    },
  },
};
</script>
